/* Make sure that padding does not make div bigger */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#header {
  height: 100px;
  margin-bottom: 8px;
  display: block;
}

#header h2 {
  line-height: 100px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  text-transform: none;
  font-weight: bold;
  letter-spacing: 2px;
}

#header a {
  text-decoration: none;
}

#content-column {
  margin: auto;
  width: 800px;
}

@media only screen and (max-width: 800px) {
  #content-column {
    width: 100%;
  }

  .q-a-container {
    width: 90%;
  }

  #menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
  }

  .menu-item {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;    
  }

  #header h2 {
    font-size: 28px;
  }

  .menu-item h2 {
    font-size: 24px;
  }

  #toolkit-overview {
    width: 100%;
  }

  #toolkit-overview p {
    width: 100%;
    color: red;
  }

  #top-level-block-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .top-level-block {
    display: inline-block;
  }

  .top-level-block h2 {
    font-size: 28px;
  }
}

#toolkit-overview {
  color: #707070; /*dark gray*/
  width: 90%;
  margin: auto;
}

#toolkit-overview p {
  color: #707070; /*dark gray*/
  text-align: justify;
}

#menu-container {
  height: 100px;
  width: 100%;
  display: inline;
  overflow: auto;
}

.menu-item {
  width: 33.3333%;
  float: left;
  display: inline-block;
  margin-bottom: 15px;
}

.menu-item h2 {
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  line-height: 0.33em;
}

.home-menu-item {
  background-color: #ffb347;
}

.home-text-item {
  color: #ffb347;
}

.math-menu-item {
  background-color: #FE6B64;
}

.math-text-item {
  color: #FE6B64;
}

.music-menu-item {
  background-color: #77DD77;
}

.music-text-item {
  color: #77DD77;
}

.coding-menu-item {
  background-color: #779ECB;
}

.coding-text-item {
  color: #779ECB; 
}

#top-level-block-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-level-block {
  height: 100%;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  float: left;
}

.top-level-block h2 {
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.top-level-block p {
  line-height: 1.75em;
  color: white;
  letter-spacing: 1px;
}

.section-blurb {
  /*padding-top: 70px;*/
  /*background-color: black;
  padding: 10px;
  color: white;*/
}


.section-overview {
  width: 100%;
  margin-bottom: 8px;
  padding-top: px;
  padding-bottom: 8px;
  padding-right: 8px;
  background-color: #dbe9e9; /*light teal*/
}

.section-overview p {
  margin-left: 100px;
  margin-right: 100px;
}

.section-overview h2 {
  color: white;
}

.section-overview a {
  color: #707070; /*dark gray*/
  text-decoration: none;
}

.q-a-container {
  margin: auto;
}

.q-a-container h2 {
  color: black;
  text-align: left;
  text-transform: none;
}

.q-a-container h3 {
  color: black;
  text-align: left;
  text-transform: none;
}

.q-a-container p {
  color: #707070; /*dark gray*/
  text-align: justify;
}

.q-a-container li {
  color: #707070; /*dark gray*/
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: teal;
  text-decoration: none;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 50;
  line-height: 1.2em;
  text-align: center;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 30px;
  text-align: center;
}

li {
  font-family: 'Merriweather', serif;
  line-height: 30px;
}

iframe {
  float: right;
}

img {
  max-width: 90%;
  margin: auto;
  display: block;
}

.img-container {
  text-align: center;
  margin: auto;
  overflow: auto;
}

.video-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  background-color: #dbe9e9; /*light teal*/
}

.video-container p {
  font-family: 'Lato', sans-serif;
  text-align: left;
  color: #707070; /*dark gray*/;
}

#player {
  float: right;
}

.video-description {
  margin: 20px;
  color: black;
  float: left;
  width: 33%;
}

.video-description h3 {
  text-align: left;  
}

.video-description p {
  text-align: justify;
}


/* Temporary class for things that need to get done still */
.todo {
  color: red;
  font-weight: 500;
  font-size: 30px;
}

#more-resources {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  line-height: 1em;
  background-color: #707070; /*dark gray*/
  color: white;
}

#more-resources a {
  color: lightgray;
}
