/* Make sure that padding does not make div bigger */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#content-column {
  margin-left: 200px;
  margin-right: 200px;
}

.q-a-container {
  margin-left: 100px;
  margin-right: 100px;
}

.q-a-container .question {
  color: teal;
  text-align: center;
}

.q-a-container p {
  color: #707070; /*dark gray*/
  text-align: center;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 50;
  line-height: 1.2em;
  text-align: center;
  margin: 55px 0px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 50;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 50;
  line-height: 1.2em;
  text-align: center;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 30px;
  text-align: center;
}

li {
  font-family: 'Merriweather', serif;
  line-height: 30px;
}

.video-title {
  text-align: left;
}

.video-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  background-color: #dbe9e9; /*light teal*/
}

.video-container p {
  font-family: 'Lato', sans-serif;
  text-align: left;
  color: #707070; /*dark gray*/;
}

#player {
  float: right;
}

.video-description {
  margin: 20px;
  color: black;
  float: left;
  width: 33%;
}

.video-description p {
  text-align: justify;
}

.todo {
  color: red;
  font-weight: 500;
  font-size: 30px;
}

#more-resources {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1em;
  background-color: #707070; /*dark gray*/
  color: white;
}

#more-resources a {
  color: lightgray;
}
