/* Make sure that padding does not make div bigger */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#header {
  background-color: teal;
  height: 100px;
}

#header h2 {
  line-height: 100px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 200px;
  color: white;
}

#menu-container {
  text-align: left;
}

.menu {
  list-style-type: none;
  background-color: #AF263F;
  margin-top: 0px;
  padding-left: 200px;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  display: inline;
  font-family: 'Lato', serif;
  font-size: 17.1px;
  font-weight: bold;
  padding-right: 24px;
  letter-spacing: .8px;
  text-transform: uppercase;
  color: #CCCCCC;
}

.menu a {
  text-decoration: none;
  display: inline;
  font-family: 'Lato', serif;
  font-size: 17.1px;
  font-weight: bold;
  letter-spacing: .8px;
  text-transform: uppercase;
  color: white;
}

#content-column {
  margin-left: 200px;
  margin-right: 200px;
}

#toolkit-overview {
  color: #707070; /*dark gray*/
  margin-left: 100px;
  margin-right: 100px;
}

.section-overview {
  width: 100%;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  background-color: #dbe9e9; /*light teal*/
}

.section-overview p {
  margin-left: 100px;
  margin-right: 100px;
}

.section-overview h2 {
  color: white;
}

.section-overview a {
  color: #707070; /*dark gray*/
  text-decoration: none;
}

.q-a-container {
  margin-left: 100px;
  margin-right: 100px;
}

.q-a-container h2 {
  color: black;
  text-align: left;
  text-transform: none;
}

.q-a-container h3 {
  color: black;
  text-align: left;
  text-transform: none;
}

.q-a-container p {
  color: #707070; /*dark gray*/
  text-align: left;
}

.q-a-container li {
  color: #707070; /*dark gray*/
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  margin: 55px 0px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: teal;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 50;
  line-height: 1.2em;
  text-align: center;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 30px;
  text-align: center;
}

li {
  font-family: 'Merriweather', serif;
  line-height: 30px;
  margin: ;
}

.video-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  background-color: #dbe9e9; /*light teal*/
}

.video-container p {
  font-family: 'Lato', sans-serif;
  text-align: left;
  color: #707070; /*dark gray*/;
}

#player {
  float: right;
}

.video-description {
  margin: 20px;
  color: black;
  float: left;
  width: 33%;
}

.video-description h3 {
  text-align: left;  
}

.video-description p {
  text-align: justify;
}

.video-description iframe {
  float: right;
}

/* Temporary class for things that need to get done still */
.todo {
  color: red;
  font-weight: 500;
  font-size: 30px;
}

#more-resources {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1em;
  background-color: #707070; /*dark gray*/
  color: white;
}

#more-resources a {
  color: lightgray;
}


